<% if flash[:error] %>
  <div class="flash error"><%= flash[:error] %></div>
<% elsif flash[:success] %>
  <div class="flash success"><%= flash[:success] %></div>
<% end %>

<% if has_dhl_shipments? %>
  <fieldset class='no-border-bottom'>
    <legend><%= Spree.t(:dhl_shipping_labels) %></legend>

    <% @order.shipments.each do |shipment| %>
      <h6 class='shipment-number'><%= Spree.t(:shipment) + ' ' +  shipment.number %></h6>
      <ul style='list-style: none'>
        <% if shipment.dhl_label %>
          <li>
          <%= Spree.t(:label, number: shipment.number, created: distance_of_time_in_words_to_now(shipment.dhl_label.created_at)) %>
          <% if shipment.dhl_label.label_format == 'pdf' %>            
            <%= link_to Spree.t(:print), admin_order_dhl_label_path(@order, shipment, shipment.dhl_label, format: :pdf), class: 'button fa fa-file-pdf-o' %>
            <% else %>
              <%= button_tag Spree.t(:print), class: 'button fa fa-file-pdf-o', onclick: "printZpl(document.getElementById('zplcode').value)" %>
              <textarea id="zplcode" class='hidden'><%= shipment.dhl_label.label %></textarea>
          <% end %>
          </li>
        <% else %>
          <li><%= Spree.t(:no_shipping_labels_for, number: shipment.number, state: Spree.t(shipment.state) ) %></li>
        <% end %>
      </ul>
      <br/>
      <% if ( shipment.state != 'shipped' && shipment.state != 'pending' ) || @order.return_authorizations.present?  %>
        <%= form_tag generate_dhl_label_api_order_shipment_path(@order, shipment), url:  generate_dhl_label_api_order_shipment_path(@order, shipment), method: :post, id: 'dhl-label-button' do |label_form| %>
          <%= label_tag Spree.t(:label_format) %>
          <%= select_tag :label_format, options_for_select([["Pdf", "pdf"], ["Zpl", "zpl"]]), class: 'select2 fullwidth'%><br/><br/>
          <%= label_tag Spree.t(:spree_shipping_box_id) %>
          <%= select_tag :spree_shipping_dhl_box_id, options_for_select(Spree::Shipping::DhlBox.all.collect {|box| [ Spree.t('dhl_box.' + box.description), box.id] }), class: 'select2 fullwidth'%><br/><br/>
          <%= label_tag Spree.t(:return_label) %>
          <%= check_box_tag :return_label %><br/>
          <%= hidden_field_tag :token, spree_current_user.spree_api_key %>
          <br/>
          <%= submit_tag Spree.t(:generate_new_label) %>
        <% end %>
        <br/>
      <% end %>
    <% end %>
  </fieldset>

  <% if @order.shipment_state.present? && @order.shipment_state == 'shipped' %> 
    <fieldset>
      <legend><%= Spree.t(:show_delivery_status) %></legend>
      <div class='show_tracking'>
        <%= form_tag show_shipment_state_dhl_admin_order_path(@order), url:  show_shipment_state_dhl_admin_order_path(@order), method: :post, remote: true, id: 'show-shipment-state' do |f| %>
            <%= hidden_field_tag :token, spree_current_user.spree_api_key %>
            <%= submit_tag Spree.t(:show_delivery) %>
        <% end %>
        <p><%= Spree.t(:wait_process) %></p><br/>
      </div>
    </fieldset>
  <% end %>    
<% end %>